@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (HttpContext.Session.GetString("JWToken") != null)
{
    <div class="text-center">
        <h1 class="display-4">Top 10 Movie list</h1>
        @using (Html.BeginForm())
        {
            <p style="text-align:left">
                Find by title: @Html.TextBox("SearchString")
                <input type="submit" value="Search" asp-page-handler="FindMovie" />
            </p>
        }
        <table class="table">
            @Model.Msg
            @foreach (var (movie, index) in @Model.MovieList.Select((v, i) => (v, i + 1)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(e => (index))
                    </td>
                    <td>
                        @Html.DisplayFor(e => movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(e => movie.Year)
                    </td>
                    <td>
                        <form asp-page-handler="AddMovieToTopList" asp-route-movie_id="@movie.Id" method="post">
                            <input type="submit" value="Add to toplist" />
                            <a href="@Url.Page("./MovieDetails/MovieDetails", new { sendId = movie.Id })">Details</a>
                        </form>

                    </td>
                </tr>

            }
        </table>
    </div>
}
else
{
    <h4 class="display-4">You are not logged in.</h4>
    <form>
        <button type="submit" asp-page="/Account/Login">Log in</button>
    </form>
}

